<div>
  @if (!loggedIn) {
  <form (submit)="login($event)">
    <div class="login-container">
      <input name="username" placeholder="Username" class="login-input" />
      <input
        name="password"
        type="password"
        placeholder="Password"
        class="login-input"
      />
      <button type="submit">Login</button>
    </div>
  </form>
  } @if (loggedIn) {
  <div class="login-container">
    <button (click)="logout()">Logout</button>
  </div>
  }

  <div>
    <div class="comments-title">Angular Discussion Area</div>
    <div class="comments-container">
      @for (comment of comments; track comment) {
        <div>
          <a [href]="comment.link">{{ comment.username }}</a>: 
          {{ comment.content }} {{ evaluateCode(comment.code) }}
        </div>
      }
    </div>
  </div>

  <form (submit)="post($event)">
    <div class="post-container">
      <textarea
        name="content"
        placeholder="Post a comment..."
        class="comments-textarea"
      ></textarea>
      <input name="link" placeholder="Add a link" />
      <input
        name="code"
        placeholder="Enter code to evaluate"
        class="comments-code"
      />
      <button
        [title]="loggedIn ? undefined : 'Login to post'"
        [disabled]="!loggedIn"
        class="post-btn"
      >
        Post
      </button>
    </div>
  </form>
</div>
